<div id="container">   
    <div id="contact-info">      
        <h1 class="fn">ADEMOLA TOHEEB OPEYEMI</h1>
        <h3>Frontend Developer</h3>      
        <p>
            Phone: <span class="tel">08132933439</span><br />
            Email: <a class="email" href="ademolaopeyemitoheeb@gmail.com">ademolaopeyemitoheeb@gmail.com</a><br>
            Location: <span>Osun, Nigeria.</span>
        </p>
    </div>
            
    <div id="objective">
        <h4>SUMMARY</h4>
        <p>
            Frontend developer with over 2 years of experience in developing and maintaining web applications using the React framework. Have strong background in front-end development and a deep understanding of web technologies such as HTML, CSS, and JavaScript. Passionate about creating intuitive and user-friendly interfaces that enhance the user experience. 
        </p>
    </div>
    
    <div class="clear"></div>
    
    <dl>
        <dd class="clear"></dd>

        <dt>Technical Skills</dt>
        <dd class="dd-border">
            <p><strong>Programming Language:</strong> Javascript</p>
            <p><strong>Web Development:</strong> HTML5, CSS3, Bootstrap, Javascript, React js, React Hooks</p>
            <p><strong>Methodologies:</strong> SDLC Waterfall model, agile development</p>
            <p><strong>Tools:</strong> Chrome DevTools, Visual Studio Code</p>
            <p><strong>Version Control:</strong> Git, GitHub</p>
        </dd>
        <dd class="clear"></dd>           
        <dt>Professional Experience</dt>
        <dd class="dd-border">
            <h2>Onifarm Online global Market <span>Frontend Developer - Feb 2022 – Jan 2023</span></h2>
            <ul>
                <li>Developed user interface by using the React JS.</li>
                <li>Involved in responsive design and developed responsive website that could be served to desktop, Tablets and mobile users using React JS.</li>
                <li>Used React concepts like JSX (JavaScript Syntax Extension), components, state and props.</li>
                <li>Extensively used Bootstrap to implement Bootstrap buttons, forms, paginations, grids, popover scroll spy in web pages.</li>
                <li>Developed and maintained web applications using React and other related skills.</li>
                <li>Worked with senior developers, acquired and managed new skills.</li>
            </ul>
            
            <h2>OIC HUB, Osun, Nigeria <span>Frontend Developer - May 2021 – December 2021</span></h2>
            <ul>
                <li>Developed using CSS, HTML, Bootstrap, react js to enhance user experience on web pages.</li>
                <li>Worked with Senior Developers to write code from scratch for clients.</li>
                <li>Participated in weekly Tech team meetings to discuss current and future projects and strategies on how to produce efficient work.</li>
                <li>Edited existing code to improve browser compatibility and mobile responsiveness.</li>
                <li>Designed and developed page layouts, custom navigation, animation buttons and icons with bootstrap, font awesome, jquery.</li>
            </ul> 
        </dd>
        
        <dd class="clear"></dd>
        
        <dt>Education</dt>
        <dd class="dd-border">
            <h2>Osun State University, Osogbo, Nigeria</h2>
            <!-- <p><strong>Major:</strong> Public Relations<br />
               <strong>Minor:</strong> Scale Tending</p> -->
            <p>Bachelor of Science: Computer Science (2019-2022)</p>
            <h2>Federal Polytechnic, Ede, Nigeria</h2>
            <p>National Diploma: Computer Science (2015-2017)</p>
        </dd>

        <dd class="clear"></dd>
        
        <dt>Qualities</dt>
        <dd class="dd-border">
            <ul>
                <li>Good writing and oral communication skills.</li>
                <li>Ability to work with little or no supervision.</li>
                <li>Ability to plan, organize and motivate people.</li>
                <li>Good personal hygiene and neatness.</li>
                <li>Punctuality, steadiness and perseverance</li>
                <li>Ability to work in a team effectively, honestly and with integrity.</li>
            </ul> 
        </dd>
        
        <dd class="clear"></dd>
        
        <dt>References</dt>
        <dd class="dd-border">Available on request</dd>
        
        <dd class="clear"></dd>
    </dl>
    
    <div class="clear"></div>

</div>